@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Gotu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* font-family: 'Gotu', sans-serif; */
/* font-family: 'Amatic SC', cursive; */

:root {
  --primary-color: black;
  --secondary-color: wheat;
  --text-color:
  --background-color: 
  --navbackground-color: rgb(255, 230, 230);
}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
font-family: 'Playfair Display', serif;
width: 100%;
height: 100%;
}

.hero{
 width: 100%;
 height: 100vh;
 min-width: 100%;
 min-height: 100%;
 position: relative;
}

.hero::before {
background-image: url(/image/hero-DSC00838.JPG);
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
opacity: 0.4;
}

header{

  
}

.landing-page-container {
}


nav{
 background-color: var(--navbackground-color);
}

nav > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav > ul > li {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  flex-direction: row;
  text-transform: uppercase;
}

@media screen and (min-width: 640px) {
  nav > ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* mobile app rendered pixels 640 x 960px */
