@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins&display=swap");

:root {
  --primary-color: black;
  --secondary-color: wheat;
  --text-color:
  --background-color: 
  --navbackground-color: rgb(255, 230, 230);
}

*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{
font-family: "Lato", sans-serif;
width: 100%;
height: 100%;
}

.hero{
 width: 100%;
 height: 100vh;
 min-width: 100%;
 min-height: 100%;
 position: relative;
}

.hero::before {
background-image: url(/image/hero-DSC00838.JPG);
background-size: cover;
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
opacity: 0.4;
}

header{

  
}

.landing-page-container {
}


nav.navbar-container{
 overflow: hidden;
 background-color: var(--navbackground-color);
 height: 10vh;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

nav > ul {
  display: flex;
  flex-direction: column;
  
}

nav > ul > li {
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  flex-direction: row;
  text-transform: uppercase;
  color: gray;
  float: left;
  text-align: center;
  padding: 14px;
  display: flex;

}

/* ========================================================
                       ALL SECTIONS
==========================================================*/ 

section{
 display: block;
 padding: 10px;
}
/* ========================================================
                          ABOUT 
==========================================================*/ 


/* ========================================================
                          PROJECT
==========================================================*/ 


/* ========================================================
                          BLOG
==========================================================*/ 


/* ========================================================
                          CONTACT
==========================================================*/ 

@media screen and (min-width: 640px) {
  nav > ul {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* mobile app rendered pixels 640 x 960px */
